html, body{
  margin:0;
  padding:0;
  overflow-x:hidden;
  min-height:100%;
  touch-action:pan-y;
  overscroll-behavior-x:none;
}

body{
padding-top:80px;
}

*{
box-sizing:border-box;
}

input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-password-toggle-button {
  display: none !important;
  pointer-events: none;
  visibility: hidden;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

